<!DOCTYPE html>
<html>
	<head>
		<title>Editor &ndash; Bubbles</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0">

		<link rel="stylesheet" href="../editor/css/bootstrap.min.css">
		<link rel="stylesheet" href="../editor/css/colorpicker.min.css">
		<link rel="stylesheet" href="../editor/css/rzslider.min.css">
		<link rel="stylesheet" href="../editor/css/style.css">


		<script src="../editor/js/angular.min.js"></script>
		<script src="../editor/js/rzslider.min.js"></script>
		<script src="../editor/js/bootstrap-colorpicker-module.min.js"></script>
	</head>
	<body>
		<div class="container-fluid" ng-app="bubblesEditor">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<button class="btn btn-success navbar-btn" type="submit" ng-click="saveJSON()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>  <button ng-click="refreshPage()" class="btn btn-danger navbar-btn" type="submit"><span class="glyphicon glyphicon-refresh"></span> Reload</button> <p class="navbar-text"><strong>{{dataFolder}}</strong>/</p>
				</div>
			</nav>
			<div class="row">
				<div class="col-md-12">
					<h2>JSON Editor:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
					<div ng-controller="editorController">
						<div class="text-right"><span class="glyphicon glyphicon-collapse-down"></span> <a ng-click="collapse_down()" href="">Expand All</a> / <span class="glyphicon glyphicon-collapse-up"></span> <a ng-click="collapse_up()" href="">Collapse All</a></div>
						<div class="well editor">
							<ul class="ed">
								<li>start: 
									"<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="data.start"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="(key, value) in data.bubbles"><a role="menuitem" href="" ng-click="data.start=key">{{key}}</a></li></ul></span>"
								</li>
								<li>loader: 
									<ul class="ed">
										<li>color: <div class="colorPickerView" style="background-color: {{data.loader.color}}"></div>"<a colorpicker="hex" colorpicker-close-on-select ng-model="data.loader.color" ng-bind="data.loader.color" href="">black</a>"</li>
										<li>url: "<a href="" ng-click="selectFile('data.loader.url')" ng-bind="data.loader.url"></a>" <span ng-show="target=='data.loader.url'" class="glyphicon glyphicon-wrench text-danger"></span></li>
									</ul>
								</li>
								<li>view:
									<ul class="ed">
										<li>fov:
											<ul class="ed">
												<li>init: <a href="" ng-click="setSize('data.view.fov.init',data.view.fov.min,data.view.fov.max,1,1,data.view.fov.init)">{{data.view.fov.init}}</a> <span ng-show="target=='data.view.fov.init'" class="glyphicon glyphicon-wrench text-danger"></span></li>
												<li>min: <a href="" ng-click="setSize('data.view.fov.min',0,180,1,1,data.view.fov.min)">{{data.view.fov.min}}</a> <span ng-show="target=='data.view.fov.min'" class="glyphicon glyphicon-wrench text-danger"></span></li>
												<li>max: <a href="" ng-click="setSize('data.view.fov.max',0,180,1,1,data.view.fov.max)">{{data.view.fov.max}}</a> <span ng-show="target=='data.view.fov.max'" class="glyphicon glyphicon-wrench text-danger"></span></li>
											</ul>
									</li>
									</ul>
								</li>
								<li>bubbles:
									<ul class="ed">
										<li ng-repeat="(key, bubble) in data.bubbles">
											<div class="bg-primary inline"><a ng-init="collapse[$id]=false" ng-click="collapse[$id] = !collapse[$id]" href="">{{key}}</a>: </div> <span ng-show="collapse[$id]" class="glyphicon glyphicon-collapse-up"></span><span ng-hide="collapse[$id]" class="glyphicon glyphicon-collapse-down"></span><a ng-click="remove('data.bubbles.'+key)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a>
											<ul class="ed" ng-show="collapse[$id]"> 
												<li>image:
													<ul class="ed">
														<li>type: "<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="bubble.image.type"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in imageTypes"><a role="menuitem" href="" ng-click="bubble.image.type=x;bubble.image.data=undefinedTypes[x];closeAll();">{{x}}</a></li></ul></span>"</li>
														<li ng-if="bubble.image.type=='sphere'">data: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data')" ng-bind="bubble.image.data"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data'" class="glyphicon glyphicon-wrench text-danger"></span></li>
														<li ng-if="bubble.image.type=='cube'">data:
															<ul class="ed">
																<li>back: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data.back')" ng-bind="bubble.image.data.back"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data.back'" class="glyphicon glyphicon-wrench text-danger"></span></li>
																<li>down: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data.down')" ng-bind="bubble.image.data.down"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data.down'" class="glyphicon glyphicon-wrench text-danger"></span></li>
																<li>front: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data.front')" ng-bind="bubble.image.data.front"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data.front'" class="glyphicon glyphicon-wrench text-danger"></span></li>
																<li>left: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data.left')" ng-bind="bubble.image.data.left"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data.left'" class="glyphicon glyphicon-wrench text-danger"></span></li>
																<li>right: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data.right')" ng-bind="bubble.image.data.right"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data.right'" class="glyphicon glyphicon-wrench text-danger"></span></li>
																<li>up: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.image.data.up')" ng-bind="bubble.image.data.up"></a>" <span ng-show="target=='data.bubbles.'+key+'.image.data.up'" class="glyphicon glyphicon-wrench text-danger"></span></li>
															</ul>
														</li>
													</ul>
												</li>
												<li>view:
													<ul class="ed">
															<li>lat: <a href="" ng-click="setLatLon('data.bubbles.'+key+'.view',bubble.image)">{{bubble.view.lat}}</a></li>
														<li>lon: <a href="" ng-click="setLatLon('data.bubbles.'+key+'.view',bubble.image)">{{bubble.view.lon}}</a></li>
														</ul>
													</li>
												<li ng-if="bubble.lensflare">lensflare:<a ng-click="remove('data.bubbles.'+key+'.lensflare')" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a>
													<ul class="ed">
														<li>size: <a href="" ng-click="setSize('data.bubbles.'+key+'.lensflare.size',1,20,0.1,100,bubble.lensflare.size*10)">{{bubble.lensflare.size}}</a> <span ng-show="target=='data.bubbles.'+key+'.lensflare.size'" class="glyphicon glyphicon-wrench text-danger"></span></li>
														<li>lat: <a href="" ng-click="setLatLon('data.bubbles.'+key+'.lensflare',bubble.image)">{{bubble.lensflare.lat}}</a></li>
														<li>lon: <a href="" ng-click="setLatLon('data.bubbles.'+key+'.lensflare',bubble.image)">{{bubble.lensflare.lon}}</a></li>
													</ul>
												</li>
												<li ng-if="!bubble.lensflare">lensflare:<a ng-click="addLensflare(key)" href=""><span class="glyphicon glyphicon-plus text-success"></span></a></li>
												<li>hotspots: 
													<ul class="ed">
														<li ng-repeat="(key_h, hotspot) in bubble.hotspots">
															<div class="bg-red inline"><a ng-init="collapse[$id]=false" ng-click="collapse[$id] = !collapse[$id]" href="">{{key_h}}</a>: </div> <span ng-show="collapse[$id]" class="glyphicon glyphicon-collapse-up"></span><span ng-hide="collapse[$id]" class="glyphicon glyphicon-collapse-down"></span><a ng-click="remove('data.bubbles.'+key+'.hotspots.'+key_h)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a>
															<ul class="ed" ng-show="collapse[$id]">
																<li>type: "<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="hotspot.type"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in hotspotTypes"><a role="menuitem" href="" ng-click="hotspot.type=x">{{x}}</a></li></ul></span>"</li>
																<li>url: "<a href="" ng-click="selectFile('data.bubbles.'+key+'.hotspots.'+key_h+'.url')" ng-bind="hotspot.url"></a>" <span ng-show="target=='data.bubbles.'+key+'.hotspots.'+key_h+'.url'" class="glyphicon glyphicon-wrench text-danger"></span></li>
																<li>position: 
																	<ul class="ed">
																		<li>lat:</li>
																		<li>lon:</li>
																		<li>distorted: <a href="" ng-click="hotspot.position.distorted = !hotspot.position.distorted" ng-bind="hotspot.position.distorted"></a></li>
																	</ul>
																</li>
																<li>events: 
																	<ul class="ed">
																		<li>onclick: 
																			<ul class="ed">
																				<li ng-repeat="(num,action) in hotspot.events.onclick"><a ng-click="editEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onclick['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.bubbles.'+key+'.hotspots.'+key_h+'.events.onclick['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onclick',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
																			</ul>
																		</li>
																		<li>onover:
																			<ul class="ed">
																				<li ng-repeat="(num,action) in hotspot.events.onover"><a ng-click="editEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onover['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.bubbles.'+key+'.hotspots.'+key_h+'.events.onover['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onover',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
																			</ul>
																		</li>
																		<li>onout:
																			<ul class="ed">
																				<li ng-repeat="(num,action) in hotspot.events.onout"><a ng-click="editEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onout['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.bubbles.'+key+'.hotspots.'+key_h+'.events.onout['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onout',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
																			</ul>
																		</li>
																		<li>ondown:
																			<ul class="ed">
																				<li ng-repeat="(num,action) in hotspot.events.ondown"><a ng-click="editEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.ondown['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.bubbles.'+key+'.hotspots.'+key_h+'.events.ondown['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.ondown',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
																			</ul>
																		</li>
																		<li>onup:
																			<ul class="ed">
																				<li ng-repeat="(num,action) in hotspot.events.onup"><a ng-click="editEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onup['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.bubbles.'+key+'.hotspots.'+key_h+'.events.onup['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.bubbles.'+key+'.hotspots.'+key_h+'.events.onup',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
														<li><input class="editor" ng-model="hotspotModel[key]" placeholder="New hotspot"></input><a ng-click="newHotspot(key)" href=""><span class="glyphicon glyphicon-plus text-success"></span></a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><input class="editor" ng-model="bubbleModel" placeholder="New bubble"></input><a ng-click="newBubble()" href=""><span class="glyphicon glyphicon-plus text-success"></span></a></li>
									</ul>
								</li>
								<li>hud: 
									<ul class="ed">
										<li ng-repeat="(key, element) in data.hud">
											<div class="bg-green inline"><a ng-init="collapse[$id]=false" ng-click="collapse[$id] = !collapse[$id]" href="">{{key}}</a>: </div> <span ng-show="collapse[$id]" class="glyphicon glyphicon-collapse-up"></span><span ng-hide="collapse[$id]" class="glyphicon glyphicon-collapse-down"></span><a ng-click="remove('data.hud.'+key)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a>
											<ul class="ed" ng-show="collapse[$id]">
												<li>url: "<a href="" ng-click="selectFile('data.hud.'+key+'.url')" ng-bind="element.url"></a>" <span ng-show="target=='data.hud.'+key+'.url'" class="glyphicon glyphicon-wrench text-danger"></span></li>
												<li>align: "<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="element.align"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in alignTypes"><a role="menuitem" href="" ng-click="element.align=x">{{x}}</a></li></ul></span>"</li>
												<li>position: 
													<ul class="ed">
														<li>x: <a href="" ng-click="setNumber('data.hud.'+key+'.position.x',{},{},element.position.x)">{{element.position.x}}</a> <span ng-show="target=='data.hud.'+key+'.position.x'" class="glyphicon glyphicon-wrench text-danger"></span></li>
														<li>y: <a href="" ng-click="setNumber('data.hud.'+key+'.position.y',{},{},element.position.y)">{{element.position.y}}</a> <span ng-show="target=='data.hud.'+key+'.position.y'" class="glyphicon glyphicon-wrench text-danger"></span></li>
														<li>zorder: <a href="" ng-click="setSize('data.hud.'+key+'.position.zorder',0,100,1,1,element.position.zorder)">{{element.position.zorder}}</a> <span ng-show="target=='data.hud.'+key+'.position.zorder'" class="glyphicon glyphicon-wrench text-danger"></span></li>
													</ul>
												</li>
												<li>events: 
													<ul class="ed">
														<li>onclick:<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-plus text-success"></span></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in actionValues"><a role="menuitem" href="" ng-click="addEvent('data.hud.'+key+'.events.onclick', x.action)">{{x.action}}</a></li></ul></span>
															<ul class="ed">
																<li ng-repeat="(num,action) in element.events.onclick"><a ng-click="editEvent('data.hud.'+key+'.events.onclick['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.hud.'+key+'.events.onclick['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.hud.'+key+'.events.onclick',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
															</ul>
														</li>
														<li>onover:<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-plus text-success"></span></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in actionValues"><a role="menuitem" href="" ng-click="addEvent('data.hud.'+key+'.events.onover', x.action)">{{x.action}}</a></li></ul></span>
															<ul class="ed">
																<li ng-repeat="(num,action) in element.events.onover"><a ng-click="editEvent('data.hud.'+key+'.events.onover['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.hud.'+key+'.events.onover['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.hud.'+key+'.events.onover',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
															</ul>
														</li>
														<li>onout:<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-plus text-success"></span></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in actionValues"><a role="menuitem" href="" ng-click="addEvent('data.hud.'+key+'.events.onout', x.action)">{{x.action}}</a></li></ul></span>
															<ul class="ed">
																<li ng-repeat="(num,action) in element.events.onout"><a ng-click="editEvent('data.hud.'+key+'.events.onout['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.hud.'+key+'.events.onout['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.hud.'+key+'.events.onout',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
															</ul>
														</li>
														<li>ondown:<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-plus text-success"></span></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in actionValues"><a role="menuitem" href="" ng-click="addEvent('data.hud.'+key+'.events.ondown', x.action)">{{x.action}}</a></li></ul></span>
															<ul class="ed">
																<li ng-repeat="(num,action) in element.events.ondown"><a ng-click="editEvent('data.hud.'+key+'.events.ondown['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.hud.'+key+'.events.ondown['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.hud.'+key+'.events.ondown',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
															</ul>
														</li>
														<li>onup:<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-plus text-success"></span></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="x in actionValues"><a role="menuitem" href="" ng-click="addEvent('data.hud.'+key+'.events.onup', x.action)">{{x.action}}</a></li></ul></span>
															<ul class="ed">
																<li ng-repeat="(num,action) in element.events.onup"><a ng-click="editEvent('data.hud.'+key+'.events.onup['+num+']')" href="">{{action.action}}</a>(<span ng-repeat="(key,value) in action" ng-hide="$first"><em>{{key}}:</em>{{value}}<span ng-hide="$last">, </span></span>)<span ng-show="target=='data.hud.'+key+'.events.onup['+num+']'" class="glyphicon glyphicon-wrench text-danger"></span><a ng-click="removeEvent('data.hud.'+key+'.events.onup',num)" href=""><span class="glyphicon glyphicon-remove text-danger"></span></a></li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li><input class="editor" ng-model="hudModel" placeholder="New hud"></input><a ng-click="newHud()" href=""><span class="glyphicon glyphicon-plus text-success"></span></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div ng-controller="filesController">
				<div class="modal fade" id="filesModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="close()" class="btn btn-danger btn-sm">Close</button>
								<h4 class="modal-title">Files</h4>
								Settings: {{target}}
							</div>
							<div class="modal-body">
								<ol class="breadcrumb">
									<li ng-repeat="x in breadcrumbs" ng-class="{'active':$last}"><a ng-hide="$last" ng-click="breadcrumbsChange($index)" href="">{{x}}</a><span ng-show="$last">{{x}}</span></li>
								</ol>
								<ul class="files">
									<li ng-repeat="x in folders"><span class="glyphicon glyphicon-folder-close"></span> <a href="" ng-click="changeFolder(x)">{{x}}</a></li>
									<li ng-repeat="x in files"><span class="glyphicon glyphicon-file"></span> <a href="" class="text-success" ng-click="select(x)">{{x}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-controller="sliderController">
				<div class="modal fade" id="sliderModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="close()" class="btn btn-danger btn-sm">Close</button>
								<h4 class="modal-title">Number</h4>
								Settings: {{target}}
							</div>
							<div class="modal-body">
								<rzslider rz-slider-model="size" rz-slider-options="sizeOptions"></rzslider>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-controller="numberController">
				<div class="modal fade" id="numberModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="close()" class="btn btn-danger btn-sm">Close</button>
								<h4 class="modal-title">Number</h4>
								Settings: {{target}}
							</div>
							<div class="modal-body">
								<input type="number" ng-change="change()" ng-model="number" min="{{min}}" max="{{max}}" required>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-controller="eventEditorController">
				<div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="close()" class="btn btn-danger btn-sm">Close</button>
								<h4 class="modal-title">Event</h4>
								Settings: {{target}}
							</div>
							<div class="modal-body">
								<div ng-show="show('noparam')" class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Nothing to set up.</div>
						
								<div ng-show="show('id_bubbles')"><h4>id:</h4>
									"<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="id_bubbles"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="(key, value) in data.bubbles"><a role="menuitem" href="" ng-click="change_id_bubbles(key)">{{key}}</a></li></ul></span>"
								</div>

								<div ng-show="show('id_objects')"><h4>id:</h4>
									"<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="id_objects"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="(key, value) in getIds()"><a role="menuitem" href="" ng-click="change_id_objects(value)">{{value}}</a></li></ul></span>"
								</div>

								<div ng-show="show('property')"><h4>property:</h4>
									"<span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" ng-bind="property"></a><ul class="dropdown-menu" role="menu"><li role="presentation" ng-repeat="(key, value) in propertyTypes"><a role="menuitem" href="" ng-click="change_property(value)">{{value}}</a></li></ul></span>"
								</div>

								<div ng-show="show('valueSmall')"><h4>value:</h4>
									<rzslider rz-slider-model="valueSmall" rz-slider-options="sizeOptionsSmall"></rzslider>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-controller="latlonController">
				<div class="modal fade" id="latlonModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="close()" class="btn btn-danger btn-sm">Close</button>
								<h4 class="modal-title">Latitude &amp; Longitude</h4>
								Settings: {{target}}
							</div>
							<div class="modal-body">
								<h4>Lat</h4>
								<rzslider rz-slider-model="lat" rz-slider-options="latOptions"></rzslider>
								<h4>Lon</h4>
								<rzslider rz-slider-model="lon" rz-slider-options="lonOptions"></rzslider>
								<h4>Preview</h4>
								<div class="latlonCanvas">
									<canvas id="latlonCanvas" class="latlonCanvas"></canvas>
									<div class="target"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="modal fade" id="saveModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="closeAll()" class="btn btn-danger btn-sm">Close</button>
								<button type="button" ng-click="save()" class="btn btn-success btn-sm">Save to file</button>
								<h4 class="modal-title">Save JSON</h4>
							</div>
							<div class="modal-body">
								<textarea ng-model="saveArea" readonly="true"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

		

		</div>
		<script src="../lib/three.min.js"></script>
	
		<script src="../editor/controller.js"></script>
		<script src="../editor/js/jquery-2.2.3.min.js"></script>
		<script src="../editor/js/bootstrap.min.js"></script>
	</body>
</html>

